            <div class="col-12 text-center home-content">
                <h4>Latest news</h4>
                <br />
				<div id="mixedSlider">
                    <div class="MS-content">
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Manage reservation with priority users (15 May 2023)</h5>
                                    It is now possible to set priority users for an instrument. 
                                    Other users will be able to book the instrument only for a short period that can defined as retention days. 
								</div>
                                <img src="../lers/resources/images/news/priority-users.png" alt="" />
                            </div>
                        </div> 
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Add your own instrument (15 May 2023)</h5>
                                    Instead of requesting for a new instrument with a ticket on Assist, you can now register your own instrument.  
								</div>
                                <img src="../lers/resources/images/news/add-instrument.png" alt="" />
                            </div>
                        </div>
						<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Highlight instruction for a reservation (15 May 2023)</h5>
                                    When editing an instrument, you can now make the instructions you give for the reservation highlighted.   
								</div>
                                <img src="../lers/resources/images/news/highlight-instructions.png" alt="" />
                            </div>
                        </div>                                                                     
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Manage reservation ratio (01 Dec 2022)</h5>
                                    Owners and deputies can now manage instrument to set multi reservation and ratio step for a given instrument. 
								</div>
                                <img src="../lers/resources/images/news/ratiostep.png" alt="" />
                            </div>
                        </div>                     
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>New Widget (10 June 2022)</h5>
                                    A new button with shortcuts to research web applications has been added.
								</div>
                                <img src="../lers/resources/images/news/widget.png" alt="" />
                            </div>
                        </div>                     
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Synthesis Planner (09 June 2022)</h5>
                                    A new planner is available for Synthesis group to show the scheduled orders.
									<br />The requester will be informed by email when the order will be ready and withdrawable.
								</div>
                                <img src="../lers/resources/images/news/synthesis-order.png" alt="" />
                            </div>
                        </div>   
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>HTMC Planner (09 June 2022)</h5>
                                	A new planner is available for HTMC group to show the scheduled Libraries.
									<br />The requester will also be informed by email when the order will be ready.
								</div>
                                <img src="../lers/resources/images/news/htmc-order.png" alt="" />
                            </div>
                        </div>        
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Reports (09 June 2022)</h5>
                                    Reports for the Instruments reservations, Synthesis planner and HTMC planner can be generated.
								</div>
                                <img src="../lers/resources/images/news/3_reports.png" alt="" />
                            </div>
                        </div>                                                           
                    <!-- 
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Reservation Management - Email notification (10 Dec. 2021)</h5>
                                    In the instrument details panel, you can activate an email notification.
									<br />An email will be sent to owners and deputies when a reservation is ended.
								</div>
                                <img src="../lers/resources/images/news/email-notifications.png" alt="" />
                            </div>
                        </div>
                    	<div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Reservation History - Log Book (10 Dec. 2021)</h5>
                            		You will be able to search for all reservations done on one or more instruments.
                            		<br />A PDF report can be generated.
								</div>
                                <img src="../lers/resources/images/news/log-book.png" alt="" />
                            </div>
                        </div>                        
                        <div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Instrument Management - Add Reservation Information (14 Oct. 2021)</h5>
                            		Instrument owner and deputies can define instructions for instrument reservation.
									<br />Those instructions will be displayed each time a reservation is created.
									<br />
								</div>
                                <img src="../lers/resources/images/news/ratio_comment.png" alt="" />
                            </div>
                        </div> 
                        <div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Reservation Management - Instrument Restrictions (14 Oct. 2021)</h5>
                            		Forbid simultaneous reservations for a set of instruments. Contact us.
									<br />
								</div>
                                <img src="../lers/resources/images/news/resa_restrictions.png" alt="" />
                            </div>
                        </div>                                            
                        <div class="item">
                            <div class="imgTitle">
                            	<div class="content-news">
                                	<h5>Instrument Management - Add deputies (14 Sept. 2021)</h5>
                            		Instrument owner can define a list of deputies.
									<br />Deputy can manage both the instrument and the reservations on that instrument.
									<br />
								</div>
                                <img src="../lers/resources/images/news/deputies.png" alt="" />
                            </div>
                        </div>
                        <div class="item">
                        	<div class="content-news">
                                <h5>Glovebox and Lyophilisator reservation (14 Sept. 2021)</h5>
                            	Specify project name, compound and batch references when creating a reservation for those instruments.
								<br />
							</div>								
                           	<img src="../lers/resources/images/news/resa_glovebox.png" alt="" />
                        </div>
                    -->
                    </div>
                    <div class="MS-controls">
                        <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                        <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>                
				</div>                
            </div>